.mainContainer{
  width:300px;
  padding:10px;
  border: 10px solid gainsboro;
  background: burlywood;
  cursor: pointer;
}
.name{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}